<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         failOnDeprecation="true"
         failOnIncomplete="true"
         failOnNotice="true"
         failOnRisky="true"
         failOnSkipped="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="Arch">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="keystone">
            <directory>packages/keystone/tests</directory>
            <directory>packages/keystone/app-tests</directory>
        </testsuite>
        <testsuite name="keystone-password">
            <directory>packages/keystone-password/tests</directory>
            <directory>packages/keystone-password/app-tests</directory>
        </testsuite>
        <testsuite name="keystone-totp">
            <directory>packages/keystone-totp/tests</directory>
            <directory>packages/keystone-totp/app-tests</directory>
        </testsuite>
        <testsuite name="keystone-inertia-vue">
            <directory>packages/keystone-inertia-vue/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>packages/keystone/src</directory>
            <directory>packages/keystone-password/src</directory>
            <directory>packages/keystone-totp/src</directory>
            <directory>packages/keystone-inertia-vue/src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:jMbj4CJ4vmg0XEDwEguHv0nqLPajhFUkpn/Ewey1sl0="/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="DB_FOREIGN_KEYS" value="true"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>
